


.editor-box {

	background: var(--background-main);
	color: #fff;


/*	aspect-ratio: 1.9/1;*/

/*	border: 1px red solid;*/


	height: 100vh;

	stroke-width: var(--power-size);
	fill: transparent;
/*	width: 100vw;*/

}



.block-box {
	transition: .2s ease-in-out;
}

.mix-blend-plus-lighter {
	mix-blend-mode: plus-lighter;
}

circle {
/*	transition: .5s ease-in-out;*/
/*	mix-blend-mode: screen;*/
}

circle, rect, path, g {
/*	transition: .3s ease-in-out;*/
/*	mix-blend-mode: screen;*/
}


.clickable {
	cursor: pointer;
}

.element-box {
	fill: transparent; 
/*	var(--background-main);*/
/*	stroke: var(--background-main);*/
	stroke: transparent;
/*	mix-blend-mode: difference;*/
/*	cursor: crosshair;*/
}

.element-box:hover {
}


.no-events {
	pointer-events: none;
}


.bloor1 {
	filter: blur(1px) brightness(1.5);
	mix-blend-mode: plus-lighter;
	pointer-events: none;
}
.bloor2 {
	filter: blur(2px) brightness(1);
	mix-blend-mode: plus-lighter;
	pointer-events: none;
}

.label {
	text-align: center;
	text-anchor: middle;
	dominant-baseline: middle;
	font-size: 3px;
	user-select: none;
	pointer-events: none;
	fill: var(--label-color);
}
