


.editor-box {
	position: fixed;
	left: 0;
	top: 0;

	background: var(--background-main);
	color: #fff;


/*	aspect-ratio: 1.9/1;*/

/*	border: 1px red solid;*/


	height: 100vh;

	stroke-width: var(--power-size);
	fill: transparent;
/*	width: 100vw;*/

}

.editor-box-overlay {
	pointer-events: none;
	position: fixed;
	left: 0;
	top: 0;
	opacity: .5;
	stroke-width: var(--power-size);
	height: 100vh;
	fill: transparent;
}

path {
	stroke-linecap: round;
	stroke-linejoin: round;
}

.block-pattle-box {
/*	height: 100vh;*/
}

svg.block-pattle {
/*	height: 100vh;*/
}

svg.block-pattle:hover {
/*	filter: brightness(1.5);*/
}

.block-box {
	transition: .2s ease-in-out;
}


.inspector-box {
	width: 100%;
/*	display: flex;*/
/*    flex-direction: column;*/
/*    overflow: scroll;*/

	display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
}

.inspector-box > label {
	color: var(--frame-color);
	font-weight: bold;
	width: 100%;
	padding: .1em .1em;
}

.inspector-box > input, .inspector-box > select {
	color: var(--frame-color);
	background: var(--input-background);
	padding: .25em 1em calc(.25em + 1px)  1em;
	transition: .2s ease-in-out;
	box-shadow: 0 -1px 0 -1px var(--select-color) inset;
}

.inspector-box > select {
	border-right: .5em var(--input-background) solid;
}

.inspector-box > input:hover {
	background: var(--input-background-hover);
}
.inspector-box > select:hover {
	background: var(--input-background-hover);
	border-right: .5em var(--input-background) solid;
}
.inspector-box > input:focus {
	box-shadow: 0 -1px 0 1px var(--select-color) inset;
}

.truth-table-box {
	display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
}


.truth-table-box > table {
	border-spacing: 0;
	border-bottom: var(--frame-border-color-light) var(--frame-resize-gap) solid;
}

.truth-table-box > button {
	background: var(--input-background-hover);
	transition: .2s ease-in-out;
	padding: .25em 1em calc(.25em + 1px)  1em;
	transition: .2s ease-in-out;
	box-shadow: 0 -1px 0 -1px var(--select-color) inset;
	border-bottom: var(--frame-border-color-light) var(--frame-resize-gap) solid;
}

.truth-table-box > button:hover {
	background: var(--input-background);
	transition: .2s ease-in-out;
	padding: .25em 1em calc(.25em + 1px)  1em;
	transition: .2s ease-in-out;
}

.truth-table-box > button:active {
	background: var(--table-result-background-accent);
	transition: .2s ease-in-out;
	padding: .25em 1em calc(.25em + 1px)  1em;
	transition: .2s ease-in-out;
}

.truth-table-head {
	height: 1.75em;
}
.truth-table-body {

}

.truth-table-body.b {
    width: 1px;
    padding: 0;
}

.truth-table-body.b > button {
	height: 1.75em;
	width: 2.25em;
	margin: 0;
	padding: 0;
	border: 0;
	margin-left: var(--frame-resize-gap);
	display: flex;
    align-items: center;
    justify-content: center;
    background: var(--frame-background-accent);
    color: var(--unactive);
    transition: .2s ease-in-out;
	border-right: var(--frame-border-color-light) var(--frame-resize-gap) solid;
}

.truth-table-body.b > button:hover {
    background: var(--unactive);
    color: inherit;
}

.truth-table-head {
	padding: 0;
	margin: 0;
}

.truth-table-head:nth-child(odd), .truth-table-body:nth-child(odd) {
	background: var(--frame-background-accent);
}

.truth-table-head.o, .truth-table-body.o {
	background: var(--table-result-background);
}
.truth-table-head.o:nth-child(odd), .truth-table-body.o:nth-child(odd) {
	background: var(--table-result-background-accent);
}

.mix-blend-plus-lighter {
	mix-blend-mode: plus-lighter;
}

.truth-table-head.b {
    background: var(--frame-background-accent);
	border-right: var(--frame-border-color-light) var(--frame-resize-gap) solid;
}

circle {
/*	transition: .5s ease-in-out;*/
/*	mix-blend-mode: screen;*/
}

circle, rect, path, g {
/*	transition: .3s ease-in-out;*/
/*	mix-blend-mode: screen;*/
}


.clickable {
	cursor: pointer;
}

.element-box {
	fill: transparent; 
/*	var(--background-main);*/
/*	stroke: var(--background-main);*/
	stroke: transparent;
/*	mix-blend-mode: difference;*/
/*	cursor: crosshair;*/
}

.element-box:hover {
}


.no-events {
	pointer-events: none;
}


.bloor1 {
	filter: blur(1px) brightness(1.5);
	mix-blend-mode: plus-lighter;
	pointer-events: none;
}
.bloor2 {
	filter: blur(2px) brightness(1);
	mix-blend-mode: plus-lighter;
	pointer-events: none;
}

.label {
	text-align: center;
	text-anchor: middle;
	dominant-baseline: middle;
	font-size: 3px;
	user-select: none;
	pointer-events: none;
	fill: var(--label-color);
    font-family: sans-serif;
}
